  <header>
        <div class="container-fluid bg-light p-4">
            <div class="container">
            <h1 class="display-4">Shop App</h1>
            <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, maxime dicta distinctio optio natus iure, impedit ullam corporis omnis ipsum laboriosam saepe nostrum dolores, vitae repellat. Et amet soluta esse.</p>
            </div>
        </div>
    </header>